html , body{
    margin: auto;
    font-family: 'Lexend',sans-serif;
    background-color: #000F1C;
    scroll-snap-type: y proximity;
}
nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
    position: fixed;
    width: 100vw;
    box-shadow: 0 2px 4px rgb(6, 6, 17);
    background-color: #000F1C;
    z-index: 2;
}
nav img{
    width: 80px;
    height: 80px;
}
nav ul{
    display: flex;
    gap: 20px;
    padding-right: 45px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
    font-size: large;
}
nav ul li a::after{
    content: '';
    width:0%;
    height:3px;
    position: absolute;
    left: 0;
    bottom: -2px;
    background: #FFD438;
    transition: 0.3s;
}
nav ul li a:hover::after{
    width: 50%;
}
.hero-section{
    scroll-snap-align: center;
    height: 100vh;
    display: flex;
}
.hero-text{
    color: white;
    margin-top: 20%;
    margin-left: 10%;
}
.hero-text h3{
    font-size: larger;
    margin-bottom:-30px;
    font-weight:bold;
}
.hero-text h2{
    font-size: 3rem;
    color: #FFD438;
    font-weight: bolder;
}
.hero-image{
    margin-top: 8%;
    margin-left: 20%;
    width: 550px;
    height: 500px;
    clip-path:polygon(50% 100%, 0% 0%, 100% 0);
    object-fit: cover;
}
.hero-image img{
    width: 100%;
    height: 100%;
}
.program{
    scroll-snap-align: center;
    height: 100vh;
}
h1{
    padding-left: 5%;
    padding-top: 10%;
    color: white;
}
.pgms-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}
.pgms{
    border: 1px  solid white;
    border-radius: 10px;
    box-shadow:4px 4px 4px 4px #000000;
    width: 230px;
    height: 280px;
    padding: 15px;
    background-color: #071b2d;
    color: white;
    text-align: left;
}
.pgms:hover{
    opacity: 80%;
}
.pgms button{
    background-color:#000F1C;
    border: 1px solid #ffffff;
    border-radius: 15px;
    width: 40%;
    color: #FFD438;
    padding: 5px;
    font-size:small;
    font-weight: bold;
}
.pgms button:hover{
    background-color: black;
}
.about{
    scroll-snap-align: center;
    height: 210vh;
}
.about h2{
    padding-left: 5%;
    padding-top: 2%;
    color: white;
}
.about p{
    padding-left: 5%;
    color: white;
}
.questions{
    display: flex;
    justify-content: space-between;
}
.q1{
    padding-left: 3%;
}
.q2{
    padding-right:1%;
}
.divider{
    height: 300px;
    width:2px;
    background-color: #ffffff;
}
.about-images{
    height: 100vh;
}
.img-container{
    height: 300px;
    display: flex;
    padding: 50px;
}
.img{
    height: 100%;
    width: 33%;
    padding: 10px;
}
.img img{
    height: 100%;
    width: 100%;
}
.reviews{
    padding: 70px;
    margin-top: -250px;
    background-color: #00080f;
}
.review{
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
    margin-bottom: 3%;
}
.review img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-top: -10px;
    object-fit: cover;
}
.review h2{
    color: #FFD438;
    font-weight: bold;
    list-style: none;
    margin-top:-15px;
}
.review span{
    font-size:medium;
    font-weight: lighter;
}
.plans{
    scroll-snap-align: center;
    height: 100vh;
}
.plans-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}
.plan{
    width: 250px;
    height: 300px;
    border: 1px solid;
    border-radius: 10px;
    box-shadow:4px 4px 4px 4px #000000;
    padding: 15px;
    background-color: #071b2d;
    color: white;
    text-align: left;
}
.plan h2{
    text-align: center;
}
.plan button{
    width: 100%;
    height: 2rem;
    background-color:#000F1C;
    border: 1px solid #ffffff;
    border-radius: 15px;
    color: #FFD438;
    padding: 5px;
    font-size:small;
    font-weight: bold;
}
.plan button:hover{
   opacity: 70%;
}
.contact{
    scroll-snap-align: center;
    height: 100vh;
}
.contact-options{
    margin: 5%;
    background-color:#00080f;
    height: 280px;
    padding: 30px;
}
.contact-options h3{
    color: #FFD438;
    font-weight: normal;
}
footer{
    background-color:#00080f;
    color: #FFD438;
    width: 100%;
    text-align: center;
}